*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background:#5971AD		
 }
.content{
    margin-top: 3%;
    font-size: 20px;
    margin-bottom: 10px;
}
.content h1{
    text-align: center;
    font-size:80px;
    
}
.content p2
{
    position: absolute;
    right: 20px;
    bottom: 70px;
    display: flex;
    align-items:right;
    
}
.content p3
{
    position: absolute;
    right:8%;
    bottom:250px;
    display: flex;
    align-items:right;
    font-size: larger;
}
.btn{
    text-align: right;
    right: 5%;
    bottom: 20px;
}